@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #faf9f6;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.625em;
  background: black;
}

h1 {
  font-family: "Pangolin", cursive;
  color: #fff;
  font-size: 1.85rem;
  font-weight: 400;
}

p {
  color: #888;
  line-height: 1.5;
  font-size: 0.95rem;
  text-align: left;
}

#gameresults-el {
  margin-top: 0.7em;
  max-width: 60%;
  text-align: center;
}

h3 {
  margin-top: 1em;
  font-size: 1.1rem;
}

hr {
  border: 1px solid #888;
  border-radius: 2px;
  width: 30%;
  margin-top: 0.2em;
}

button {
  border: none;
  background: #888;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1em 1em;
  box-shadow: 4px 5px 3px black;
  cursor: pointer;
  transition: ease 0.3s;
}

button:hover {
  background: black;
  box-shadow: 0px 0px 5px #888;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  max-width: 90%;
}

.scoreboard {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.choices {
  display: flex;
  gap: 15px;
}

@media (min-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.3rem;
  }

  hr {
    border: 2px solid #888;
    max-width: 15%;
  }

  .scoreboard {
    justify-content: center;
    gap: 5em;
  }

  button {
    font-size: 3.5rem;
  }
}
